* {
  margin: 0;
  padding: 0;
}
.menu-container {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  padding: 15px;
}
.menu-items {
  display: flex;
}
.menu-items li {
  list-style: none;
  margin: 5px;
  font-size: 18px;
  padding: 10px;
}
